@media (max-width: 600px) {
    nav ul li {
    display: block;
    text-align: center;
    font-size: 25px;
    margin-right: 20px;
    line-height: 71px;
}
    
    nav ul {
        display: none;
    }
    .mobile-icon {
        position: fixed;
        z-index: 90;
        right: 2%;
        margin-top: 10px;
        display: inline-block;
    
}
    
    
    nav ul li:hover::after {
        max-width: 100px;
    }

    nav ul li:nth-child(1) {
        border-right: none;
        padding-right: 15px;
    }

    nav ul li:nth-child(2) {
        border-right: none;
        padding-right: 15px;
    }

    nav ul li:nth-child(3) {
        border-right: none;
        padding-right: 15px;
    }

    nav ul li:nth-child(4) {
        border-right: none;
        padding-right: 15px;
    }

    nav ul li:nth-child(5) {
        border-right: none;
        padding-right: 15px;
    }
    
    .football-contik img {
        width: 100%;
        max-width: 150px;
        animation: ball 4s alternate infinite linear;
}
    
    
    .football-contik h1 {
        margin-top: 50px;
        font-family: Hobo Std;
        font-size: 50px;
        -webkit-text-stroke: #fff 0.5px;
        text-align: center;
}
    
    .f-m-cont {
        display: flex;
        flex-direction: column;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 50px;
        gap:20px;
}
    
}